:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

section{
    min-height: 100vh;
    padding: 1rem 6% 2rem;
    position: relative;
    background: var(--bg-color);
      
  
}

.Home{
   display: flex;
   align-items: center;
   padding:0 3%;
   gap: 80px;
   
  
 
}
.links a:hover, .Home a:hover, .profile img{
    box-shadow: 0 0 1rem var(--main-color)
}
.profile{
    position: relative;
     width:25rem; 
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    object-fit: cover;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    height: 350px;
    width: 350px;
    
}
.circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 95%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
    
}
@keyframes aboutSpinner{
    100%{
        transform: translate(-50%,-50%)rotate(360deg);
    }
}
.home-content{
    max-width: 50rem;
}
.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animate {
    position: relative;
    width: 32.8rem;

}
.home-content .text-animate h3{
    font-size: 2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: .2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    
    border-radius: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: .2s;
}
@keyframes homeBgText  {
    0%,10%,100%{
        background-position: -33rem 0;

    }
    65%,85%{
        background-position: 0 0;
        text-shadow: 0 0 1rem var(--main-color);
    }
    
}
@keyframes homeCursorText  {
    0%,10%,100%{
        width: 0;

    }
    65%,78%,85%{
        width: 100%;
        opacity:1
    }
    75%,81%{
        opacity:0
    }
    
}

.home-content  p{
    font-size: 1rem;
    margin:2rem 0;
    text-align: justify;

}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    height: 4rem;
}
.Home a,.links a{
     text-decoration: none;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10.5rem;
    height: 90%;
    background:var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    color: var(--bg-color);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;

}
.btn-box a:hover::before{
    width: 100%;
}
.btn-box a:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
}
.btn-box a:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box a:nth-child(2):hover{
    color: var(--bg-color);
    
}
.btn-box a:nth-child(1):hover{
     color: var(--main-color);
}
 .links{
    position: absolute;
    width: 270px;
    display: flex;
    justify-content: space-between;
     padding:0 3% 
}
.links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden; 
}
.linkicon{
    font-size: 25px;
    color: var(--main-color);
    background: none;
}

.links a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--main-color);
    z-index: -1;
    transition: .5s;

 
}  
.links a:hover .linkicon{
    color: var(--bg-color);
}
.links a:hover::before{
   width: 100%;
   
} 

/*-------------media query----------*/


/* @media (max-width:768px){
   
    .Home{
        display: flex;
        flex-direction: column-reverse;  
         margin-top:2px ;
        justify-content: flex-start; 
        gap:1px;
        padding-top: 0px;
        align-items: center;
       
         }
   
    .pic{
        height: 200px;
        width: 200px;
     
    }
    .profile{
        height: 25rem;
        width: 25rem;
        margin-right:50px;
        position: relative;
      
    }
   
section{
    min-height: 100vh;
    padding: .5rem 2% .5rem;
    position: relative;
    background: var(--bg-color);
      
  
}
.Home .home-content p{
    font-size: small;
    white-space: normal; 
  overflow-wrap: break-word;
  word-break: break-word;
  text-overflow: clip;  
} 

   
    .home-content{
       padding-top: 30px;
       width: 350px;
       padding-bottom: 20px;
   
  
   margin-right: 50px;
       
    }
    .links{
       padding-bottom: 50px;
        gap:10px;
        padding-left: 20px;
        
         
    }
     .home-content .btn-box {
        height: 50px;
        width: 250px;
        
     }
    .home-content .btn-box a{
           font-size:13px;
           font-weight: bolder;

    }

}   */