
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
.certifications{
  margin-top: 0;
  padding-top: 0;
}
.certifications .heading{
  font-size: 3.5rem;
  text-align: center;
}

 .swiper {
  width: 100%;
  max-width: 900px;   
  margin: 0 auto;   
  height: 700px;   
  background: var(--bg-color);  
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  border-radius: 30px;
 

 
} 



.swiper-slide {
  display: flex;
  flex-direction: column;
  background:var(--bg-color) ; 
  align-items: center;
  border-radius: 30px;
  
  height: 100%;
  
}
.card-body{
  
  text-align: center;
  padding-top: 30px;
 
    
}


.swiper-slide img {
  max-width: 800px;
  max-height: 400px;
  object-fit: cover;
   padding-bottom: 20px;
   
 
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  border: .2rem solid var(--main-color);
  border-radius: 30px;
  background: var(--bg-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  
 
}
.card::before{
  content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: var(--second-bg-color);
   z-index: -1;
   transition: .5s;
 
}
.card:hover::before{
  width: 100%;
  color: var(--bg-color);

}

.card-body p{
  font-size:large;
  font-weight: 500;
}
.card-body h1{
 
   padding-bottom: 20px;
}
/* .card:hover .card-body p, .card-body h1{
  color: var(--bg-color);
} */
 @media (max-width:768px){
   .swiper {
  width: 100%;
  max-width: 390px;   
  margin: 0 auto;   
  height: 500px;   
  background: var(--bg-color);  
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 30px;


 
} 



.swiper-slide {
  display: flex;
  flex-direction: column;
  background:var(--bg-color) ; 
  align-items: center;
  border-radius: 30px;
  
  height: 100%;
  
}
.swiper-slide img {
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
   padding-bottom: 10px;
   
 
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  border: .2rem solid var(--main-color);
  border-radius: 30px;
  background: var(--bg-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-right: 10px;
 
}
.card-body p{
  font-size:15px;
  font-weight: 500;
  padding-top: 15px;
}

 }