:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
body{
    overflow-x: hidden;
}

.contact{
    min-height: 100vh;
    min-width: 100vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow-x:hidden;
    
}
.heading{
    text-align: center;
    padding-bottom: 50px;
    
}
.contact form{
    max-width: 50rem;
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;        
    
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.sub{
  
    width:10rem ;
    height: 4rem;
    margin-top: 10px;
    border-radius: 30px;
    background: var(--main-color);
    color:var(--bg-color);
    font-size: 1.3rem;
    font-weight: 600;
   

}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field{
    position:relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize:none;

}
.contact form  .btns .btn{
    cursor: pointer;
    
}
.social{
    height: 70px;
    background-color: var(--main-color);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap:80px;
    padding-bottom: 10px;

   

}
.social a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    

}
.media{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* padding-right: 3px; */
    border: .1rem solid var(--bg-color);
   

}
.phn{
    background:white;
}
.social a:hover{
   color:var(--bg-color);
   text-decoration: underline;
}
/* @media(max-width:768px){
    .social{
  
    height: 70px;
    background-color: var(--main-color);
    margin-top: 120px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: end;
    gap:30px;
    padding-bottom: 7px;
    

}

.social a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    

}
.media{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /* padding-right: 3px; 
    border: .1rem solid var(--bg-color);
     margin-left: 15px;
   

}
.phn{
    background:white;
    margin-left: 40px;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 90%;
    padding: 1.2rem;
    margin: 0 1.2rem 0 1.2rem;
    font-size:1rem;
    color: var(--text-color);
    background:transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

} */
 @media(max-width: 768px) {
    .contact form {
        width: 90%;
        padding: 0 1rem;
    }

    .contact form .input-box {
        flex-direction: column;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .contact form .input-box .input-field input,
    .contact form .textarea-field textarea {
        padding: 1.2rem;
        font-size: 0.95rem;
    }

    .sub {
        width: 100%;
        max-width: 300px;
        height: 3.2rem;
        font-size: 1.1rem;
    }

    .social {
        flex-direction: column-reverse;
        height: auto;
        gap: 20px;
        padding: 20px 0;
        align-items: center;
    }

    .social a {
        font-size: 1rem;
        flex-direction: column;
        gap: 4px;
    }

    .media {
        height: 35px;
        width: 35px;
    }
}