:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.heading{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom:3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 

}
.heading span{
         color: var(--main-color);
}
.education .education-row{
    display: flex;
    
    /* flex-direction: column; */
    gap: 5rem;
}
.education-row .education-column{
    flex:1 1 40rem;
}
.education-column .title{
    font-size: 2rem;
    margin:0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left:.2rem solid var(--main-color)
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
   content: '';
   position: absolute;
   top:0;
   left: -.8rem;
   width: 1.3rem;
   height: 1.3rem;
   background-color: var(--main-color);
   border-radius: 50%;
   margin-bottom: 2rem;
}
.education-content .content {
    position:relative;
    padding:1.5rem;
    border:.1rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    z-index: 1;
    overflow: hidden;
   
     
    
}

 .education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
    
}
 .education-content .content:hover::before{
       width: 100%;  
       color: beige;  
 }
     
.education-content .content .year{
    font-size: 1.3rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i{
  padding-right: .5rem;
  color: var(--main-color);
}
.education-content .content h3{
    font-size: 1.3rem;
}
.education-content .content p{
    font-size: 1rem;
    padding-top: .5rem;
}
@media (max-width:768px){
   .heading{
    font-size: 3rem;
   }
}