*{
 
    margin-top: 0 !important;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
    
    

}

.nav-item{
    /* border:2px solid white; */
    text-align: center;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

.navbar{
    background:transparent;
    background:var(--bg-color);
    position: sticky;
    z-index: 1000;
    padding-top: 2rem;
    top: 0;
    
}

.navbar-toggler {
    border: 2px solid var(--text-color) !important;
}

.navbar-toggler-icon {
    background-image: none !important;
        padding-top: 2px;
}

.navbar-toggler-icon::before {
    content: "\2630"; 
    font-size: 24px;
    color: var(--text-color);
    padding-top: 2px;
}


.navbar a{
    text-decoration: none;
}
.container .logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}
.nav-item a{
    font-size: 1.3rem;
    color:var(--text-color);
    font-weight: 500;
    margin-left:1.5rem;
    transition: .3s;

}
.nav-item a:hover
{
    text-shadow: 0 0 3rem var(--main-color);
font-size: 1.4rem;                                                                                                             
}
.navbar-toggler:hover{
    box-shadow: 0 0 3rem var(--main-color);
    height: 45px;
    width: 55px;
 
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
 @media (max-width:768px){
    
    .navbar-collapse{
        background-color: black;
    }
    .exit-icon {
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--text-color); 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exit-icon:hover {
  transform: rotate(90deg);
}

  


}
