.skillssection{
    min-height: 100vh;
    padding-top: 0;
    margin-top: 0;

}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
.skillssection .head{
     font-size: 4rem;
    font-weight: 700;
    /* padding-bottom:3rem; */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    text-align: center;
    padding-top: 3rem;
}
.skillssection .head span{
    color: var(--main-color);
    padding-bottom: 3rem;
}
.skillssection .subhead span{
    color: var(--main-color);
}
.skillssection .subhead {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 9rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.division1{
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
    /* border: .2rem solid var(--main-color); */
    border-radius: 50px;
     background-color: var(--second-bg-color);
     padding-bottom: 50px;
     /* margin-bottom: 100px; */
   
     
     
}
.softskills{
    /* padding-top: 3rem; */
     background-color: var(--second-bg-color);

}
.softlist{
    padding-left: 9rem;
    margin-left: 20px;
}
.softlist li{
    font-size: 20px;
    font-weight: 600;
    line-height: 3;
   
}
.tagdiv{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 10px;
    /* background-color: red; */
  
}
.subtagdiv{
    height: 80px;
    width: 15rem;
    display: flex;
   align-items: center;
   
   /* justify-content:end; */
   font-size: 20px;
   font-weight: 600;
   /* background-color: aqua; */
  
   
}
.cont1{
    display: flex;
    gap:30px;
     margin: 20px 0;
  
    
     align-items: center;
}
.logoimg{
    height: 60px;
    width: 60px;
    object-fit: cover;
    /* border-radius: 50%; */
  
    
    
}
.imgdiv{
     display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
  
   

}
.item1{
  
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
   
}
.title{
    text-align: center;
    padding-top: 20px;
  

}
.cisco{
    margin-top: 25px;
    background-color:skyblue;
}
.meta{
    margin-top: 25px;

}
@media (max-width: 768px) {

  .division1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    border-radius: 30px;
    padding: 2rem 1rem 3rem;
    margin: 2rem auto;
    width: 95%;
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
  }

  .tagdiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-left: 0;
  }

  .cont1 {
    display: flex;
    flex-direction: column; /* stack subtitle and images vertically */
    align-items: center;
    gap: 1rem;
  }

  .subtagdiv {
    text-align: center;
    width: 100%; /* full width for subtitle */
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }

  .imgdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%; /* make images container full width */
  }

  .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .logoimg {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .title {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    

  }

  .meta {
    margin-top: 0.5rem;
  }
}
