.skillssection{
    min-height: 100vh;
    padding-top: 0;
    margin-top: 0;

}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
.skillssection .head{
     padding-top: 20px;
    margin-top: 0;
    margin-left:140px;
    padding-left:0px;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 30px;
   
}
.skillssection .head span{
    color: var(--main-color);
}
.division1{
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
    border: .2rem solid var(--main-color);
    border-radius: 50px;
     background-color: var(--second-bg-color);
     padding-bottom: 50px;
     margin-bottom: 100px;
   
     
}
.tagdiv{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  
}
.subtagdiv{
    height: 80px;
    width: 20rem;
    display: flex;
   align-items: center;
   /* justify-content:end; */
   font-size: 25px;
   font-weight: 600;
  
   
}
.cont1{
    display: flex;
    gap:30px;
     margin: 20px 0;
  
    
     align-items: center;
}
.logoimg{
    height: 80px;
    width: 80px;
    object-fit: cover;
    /* border-radius: 50%; */
  
    
    
}
.imgdiv{
     display: flex;
    justify-content: space-between;
  
   

}
.item1{
  
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
   
}
.title{
    text-align: center;
    padding-top: 20px;
  

}
.cisco{
    margin-top: 25px;
    background-color:skyblue;
}
.meta{
    margin-top: 25px;

}
@media (max-width:768px){
    .cont1{
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        
    gap:3px;
     margin: 10px 0;
     align-items: center;
     /* background-color: #ededed;  */

    }
    .db{
        padding-left: 35px;
}
    
    .division1{
        display: flex;
        align-items: center;
        margin-left: 10px;
    padding-top: 30px;
    border: .2rem solid var(--main-color);
    border-radius: 50px;
     background-color: var(--second-bg-color);
     padding-bottom: 30px;
     margin-bottom: 50px;
     
     width: 390px;

    }
    .item1{
        display: flex;
        flex-wrap: wrap;
    }
    .tagdiv{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  
}
.subtagdiv{
    font-size: 20px;
    text-align: center;
}
.logoimg{
     height: 40px;
    width: 40px;
    object-fit: cover;
}
.imgdiv{
     display: flex;
     gap:1px;
     flex-wrap: wrap;

  
   

}
.skillssection .head{
     padding-top: 10px;
    margin-top: 0;
    margin-left:120px;
    padding-left:0px;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 15px;
   
}
.item1{
  
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: center;
    align-items: center;
   
}
}

